:root {
  --color-primary: #0d9488;
  --color-primary-hover: #0f766e;
  --color-primary-light: #ccfbf1;

  --color-border: #e5e7eb;
  --color-text-dark: #111827;
  --color-text-muted: #4b5563;

  --radius-md: 16px;
}